body {
    color: black;
    font-family: courier;
    background-color: white;
}

ul {
    list-style: none;
}

fieldset {
    background-color: white; 
}

.field_value input {
    width: 300px;
}

.field_value textarea {
    width: 600px;
    height: 500px;
}


#menu {
    font-size: 20px;
    font-weight: bold;
}

#menu ul {
    list-style-position: inside;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#menu li {
    margin-top: 10;
}

#menu a {
    border: 3px solid black;
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    background-color: #f8c301;
}

#menu a:hover {
    border: 3px solid white;
}
