body {
    color: black;
    font-family: courier;
    background-color: #ccddbb;
}

ul {
    list-style: none;
}

fieldset {
	width: 100%; 
	background-color: black; 
	}

.field_value input {
    width: 400px;
}

.field_value textarea {
    width: 550px;
}


#buffer_left {
    width: 50%;
    float: left;
    clear: left;
#    border: 1px dotted black;
    margin-left: 10px;
}

#buffer_left_header {
#    border: 1px dotted black;
    width: 250;
    height: 50;
}

#buffer_left_upper_menu a{
    text-decoration: none;
    background-color: #f8c301;
}

#buffer_left_main_window {
    background-color: black;
    color: white;
    border: 2px solid #f8c301;
    height: 80%;
    overflow: auto;
}

#buffer_left_main_window li {
    padding-bottom: 40;
    padding-left: 10;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
}

#buffer_center {
    width: 205px;
    float: left;
#    border: 1px dotted black;
    margin-left: 10px;
}

#menu {
    font-size: 30px;
    font-weight: bold;
#    border: 1px dotted black;
}

#menu ul {
    list-style-position: inside;
    padding: 0 0 0 0px;
    margin: 0 0 0 0;
}

#menu li {
    margin-top: 10;
}

#menu a {
    border: 3px solid black;
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    background-color: #f8c301;
}

#menu a:hover {
    border: 3px solid white;
}


#buffer_right {
}


#logo_vertical {
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 700px;
#    border: 1px dotted black;
    clear: both;
    background-image: url(chatofido_logo_v.jpg);
}
