{% extends "blog_base.html" %}


{% block blog_title %}
{{ blog.name }} PUNK?! widzenia
{% endblock %}

{% block menu %}
<a href="/blog/{{blog.name}}/new/">dodaj wpis</a>
{% endblock %}


{% block authors%}

<h4>autorzy bloga </h4>
{% for author in blog_authors%}
{{ author.author}}</br>
{% empty %}
{% endfor %}

{% endblock  %}


{% block buffer_B_main_window %}
     
{% for post in posts %}
<ul>
  <h3>{{ post.title }}</h3>
  <li> {{ post.content }}
      autor: {{ post.author }}<br> 
      {{ post.created|date:"D d M Y" }}
  </li>
</ul>
{% empty %}
{% endfor %}

{% endblock %}
      
      

