{% extends "blog_base.html" %}

{% block buffer_B_header %}
{% endblock %}
 

{% block buffer_B_main_window %}

   {% for post in posts %}
      <ul>
	tytuł posta: {{ post.title }}
	<li> {{ post.content }}
	  <div style="float: right; font-size:10px; padding-top: 5; padding-bottom: 5;">
	    autor: {{ post.author }}<br> <a href="#" style="text-decoration: none; 
							    color: white;"> {{ post.created|date:"D d M Y" }}</a>
	  </div>
	</li>
      </ul>
   {% empty %}
      jak na razie, brak wpisów
   {% endfor %}
      
{% endblock %}
      
{% block detailed_data %}
   {% for author in authors %}
      <ul>
	<!-- <li>{{ author.author }}</li> -->
      </ul>
   {% empty %}
      Jeszcze nikt nie raczył dodać żadnego posta
   {% endfor %}
{% endblock %}
      
{% block menu %}
   {{ blog.name }} PUNK?! widzenia

   <ul>
     <li><a href="/blog/{{blog.name}}/new/">dodaj wpis</a></li>
   </ul>
   
{% endblock %}

