{% extends "blog_base.html" %}


{% block blog_title %}
{{ blog.name }} PUNK?! widzenia
{% endblock %}

{% block menu %}
<a href="/blog/{{blog.name}}/new/">wpis</a>
{% endblock %}


{% block switchblogs %} 
{% for blog_ in blogs %}
{% if blog_.name == blog.name  %}
{% else %}
<li><a href = "{{ blog_.name}}">{{blog_.name}}</a></li>  
{% endif %}
{% endfor %}
{% endblock%}


{% block buffer_B_main_window %}
     
{% for post in posts %}
<div class = "document">

  <div></div>
  
  <div class = "dochead">
    <span class = "dhead">{{ post.title}}</span>
  </div>

  <div>
    <span class = "post">posted by {{ post.author }} | {{ post.created|date:"D d M Y" }} </span>
  </div>

  <div class = "dcontent">
    {{ post.content }}
  </div>

  <div class = "bubble" align = "right">
    <span>205 komentarzy</span>
  </div>
  
</div>

<div class = "rtboxbg"></div>
<div class = "gap"></div>



{% empty %}
{% endfor %}

{% endblock %}
      
      

