{% extends "blog_base.html" %}

{% block buffer_left_header %}
<img src="/static/css/banner_dodaj_post.jpg">
{% endblock %}


{% block buffer_left_main_window %}

<form action="/blog/{{ blog.name }}/new/" method="POST">
  <fieldset>
    {{form.blog}} = {{ blog.name }}
    <p>
      <label class="field_name">wybrana metoda {{ method }} Tytuł posta dla {{blog.name}}:</label>
      <span class="field_value">{{ form.title }}</span>
    </p>
    
    <p>
      <label class="field_name">post właściwy:</label>
    </p>
    <p>
      <span class="field_value">{{ form.content }}</span>
    </p>

    <p>
      <label class="field_name">Ktoś Ty?:</label>
      <span class="filed_value">{{ form.author }}</span>
    </p>
  </fieldset>
  
  <fieldset>
    <div class="field_submit">
      <input type="submit" name="submit_post" value="Submit Post!" />
    </div>
  </fieldset>
  
</form>

{% endblock %}

{% block menu %}
<ul>
  <li><a href="/blog/{{blog.name}}">lista wpisow</a></li>
  </ul>
{% endblock %}
