{% extends "blog_base.html" %}

{% block buffer_left_header %}
<img src="/static/css/banner_dodaj_post.jpg">
{% endblock %}


{% block buffer_left_main_window %}

<form action="/blog/new/" method="POST">
  

  <fieldset>
    <p>
      <label class="field_name">Tytuł posta:</label>
      <span class="field_value">{{ form.title }}</span>
    </p>

    <p>
      <label class="field_name">post właściwy:</label>
    </p>
    <p>
      <span class="field_value">{{ form.content }}</span>
    </p>

    <p>
      <label class="field_name">Ktoś Ty?:</label>
      <span class="filed_value">{{ form.author }}</span>
    </p>
  </fieldset>


  <fieldset>
    <div class="field_submit">
      <input type="submit" name="submit_post" value="zatwierdź" />
    </div>
  </fieldset>

</form>

{% endblock %}

{% block menu %}
<ul>
  <li><a href="/blog/list/">LISTA</a></li>
  </ul>
{% endblock %}
