{% extends "blog_base.html" %}

{% block buffer_B_header %}
{% endblock %}

{% block blog_title %}
{{ blog.name }} PUNK?! widzenia
{% endblock %}

{% block menu %}
<li><a href="/blog/{{blog.name}}/list/">wpisy</a></li>
{% endblock %}




{% block buffer_B_main_window %}
<h4>Komentarze do posta</h4> <i><h2>{{post.title}}</h2></i>
<fieldset>
  {% for comment in comments %}
  <p>
    {{ comment.content }}
  </p>
  {% empty %}
  na razie brak komentarzy
  {% endfor %}
</fieldset>


<form action="/blog/{{ blog.name }}/{{post.id}}/new_comment/" method="POST">
  <fieldset>

    <!-- {% for field in form.visible_fields %} -->
    <!-- {% if "Post" in field.label_tag %} -->
    <!-- <span style="display:none;"> -->
    <!-- {{ field.label_tag }} -->
    <!-- {{ field }} -->
    <!-- </span> -->
    <!-- {% else %} -->
    <!-- <p> -->
    <!--   {{ field.label_tag }} -->
    <!-- </p> -->
    <!-- <p> -->
    <!--   {{ field }} -->
    <!-- </p> -->
    <!-- {% endif %} -->
    <!-- {% endfor %} -->

    <p>
    komentarz:
    </p>
    <p>
    <p>
      <span class="field_value">{{ form.content }}</span>
    </p>
    
    <p>
      <label class="field_name"> Ktoś Ty?: </label>
    </p>
    <p>
     <span class="field_value">{{ form.author }}</span>
    </p>
      
    <p>
    <div class="field_submit">
      <input type="submit" name="submit_post" value="Dodaj komentarz" />
    </div>
    </p>
  </fieldset>
  
</form>
{% endblock %}


