{% extends "blog_base.html" %}

{% block buffer_B_header %}
{% endblock %}

{% block blog_title %}
{{ blog.name }} PUNK?! widzenia
{% endblock %}

{% block menu %}
<li><a href="/blog/{{blog.name}}/list/">wpisy</a></li>
{% endblock %}




{% block buffer_B_main_window %}


<form action="/blog/{{ blog.name }}/{{post.id}}/new_comment/" method="POST">
  <fieldset>
    <p>
    komentarz:
    </p>
    <p>
    <p>
      <span style="display:none">{{ form.post }}</span>
      <span class="field_value">{{ form.content }}</span>
    </p>
    
    <p>
      <label class="field_name"> Ktoś Ty?: </label>
    </p>
    <p>
     <span class="field_value">{{ form.author }}</span>
    </p>
      
    <p>
    <div class="field_submit">
      <input type="submit" name="submit_post" value="Dodaj komentarz" />
    </div>
    </p>
  </fieldset>
</form>

<div class = "dochead"  style="width: 385px;">
  <span class = "dhead">{{ post.title|truncatewords:3 }} ({{ post.comments }})</span>
</div>

{% for comment in comments %}
<div class = "dcontent">
  {{ comment.content }}
</div>
<div>
  <span class = "post">{{ comment.author }} | {{ comment.created|date:"D d M Y" }}</span>
</div>

{% empty %}
na razie brak komentarzy
{% endfor %}

{% endblock %}


