{% extends "blog_base.html" %}

{% block buffer_B_header %}
{% endblock %}

{% block blog_title %}
{{ blog.name }} PUNK?! widzenia
{% endblock %}

{% block menu %}
<li><a href="/blog/{{blog.name}}/list/">wpisy</a></li>
{% endblock %}

{% block anotherblogname %}{% endblock %}

{% block switchblogs%}{% endblock%}

{% block authors %}

<h4>autorzy bloga </h4>
{% for author in blog_authors%}
{{ author.author}}</br>
{% empty %}
{% endfor %}

{% endblock%}


{% block buffer_B_main_window %}
    
<form enctype="multipart/form-data" form action="/blog/{{ blog.name }}/new_image/" method="POST">
  <fieldset>
    <p>
    </p>
    
    {% for field in form.visible_fields %}
    {% if "Blog" in field.label_tag %}
    <span style = "display:none;">
      {{ field.label_tag }} 
      {{ field }}
    </span>
    {% else %}
    <p>
      {{ field.label_tag }} 
    </p>
    <p>      
      {{ field }}
    </p>
      {% endif %}
    {% endfor %}
    
    <div class="field_submit">
      <input type="submit" name="submit_post" value="Umieść na blogu" />
    </div>
  </fieldset>
  
</form>
{% endblock %}


