{% extends "blog_base.html" %}

{% block buffer_B_header %}
{% endblock %}

{% block blog_title %}
{{ blog.name }} PUNK?! widzenia
{% endblock %}

{% block menu %}
<li><a href="/blog/{{blog.name}}/list/">wpisy</a></li>
{% endblock %}

{% block anotherblogname %}{% endblock %}

{% block switchblogs%}{% endblock%}

{% block authors %}

<h4>autorzy bloga </h4>
{% for author in blog_authors%}
{{ author.author}}</br>
{% empty %}
{% endfor %}

{% endblock%}


{% block buffer_B_main_window %}
    
<form enctype="multipart/form-data" form action="/blog/{{ blog.name }}/new_image/" method="POST">
  <fieldset>
    <p>
      <span style="display:none;">{{ form.blog }} {{ form.comments }}</span>
    </p>
    
    <p>
      <label class="field_name">Tytuł posta:</label>
    </p>
    <p>
      <span  class="field_value">{{ form.title }}</span>
    </p>    

    <p>
      <label class="field_name">post właściwy:</label>
    </p>
    
    <p>
      <span class="field_value">{{ form.content }}</span>
    </p>

    <p>
      wybierz obrazek:
    </p>
    <p>
      {{ form.image }}
    </p>
    
    <p>
      <label class="field_name">Ktoś Ty?:</label>
    </p>
    <p>
      {{ form.author }}
    </p>

    <div class="field_submit">
      <input type="submit" name="submit_post" value="Umieść na blogu" />
    </div>
  </fieldset>
  
</form>
{% endblock %}


