{% extends "blog_base.html" %}

{% block buffer_B_header %}
{% endblock %}

{% block blog_title %}
{{ blog.name }} PUNK?! widzenia
{% endblock %}

{% block menu %}
<a href="/blog/{{blog.name}}">wpisy</a>
{% endblock %}

{% block anotherblogname %}{% endblock %}

{% block switchblogs%}{% endblock%}

{% block authors %}

<h4>autorzy bloga </h4>
{% for author in blog_authors%}
{{ author.author}}</br>
{% empty %}
{% endfor %}

{% endblock%}


{% block buffer_B_main_window %}
    
<form action="/blog/{{ blog.name }}/new_image/" method="POST">
  <fieldset>
    <p>
      <span style ="display:none">{{ form.blog }}</span>
    </p>
    
    {% for field in form.visible_fields %}
    <p>
      {{ field.label_tag }}
      {{ field }}
    </p>
    {% endfor %}
    
    <div class="field_submit">
      <input type="submit" name="submit_post" value="Umieść na blogu" />
    </div>
  </fieldset>
  
</form>
{% endblock %}


