{% extends "blog_base.html" %}

{% block buffer_B_header %}
{% endblock %}

{% block blog_title %}
{{ blog.name }} PUNK?! widzenia
{% endblock %}

{% block menu %}
<a href="/blog/{{blog.name}}">wpisy</a>
{% endblock %}

{% block anotherblogname %}{% endblock %}

{% block switchblogs%}{% endblock%}


{% block buffer_B_main_window %}    

<form action="/blog/{{ blog.name }}/upload_file/" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <fieldset>
    <p>
      <span style = "display: none;">{{ form.blog }}</span>
    </p>
    
    <p>
      <label class="field_name">Tytuł posta:</label>
      <span  class="field_value">{{ form.title }}</span>
    </p>
    
    <p>
      <input type="file" name="filename"/>
    </p>
    
    <div class="field_submit">
      <input type="submit" name="submit_post" value="Umieść na blogu" />
    </div>
  </fieldset>
  
</form>
{% endblock %}


