<html>
  <head>
    <title> To jest blog cHani i Tomka </title>
    <link rel="stylesheet" type="text/css" href="/static/css/blog.css" /> 
  </head>


  <body>

    <div id="buffer_A">
      <div id="menu">
	{% block menu %}
	{% endblock %}
	<ul>
	  <li><a href="#">archiwum</a></li>
	  <li><a href="#">xsiążki</a></li>
	  <li><a href="#">linki</a></li>
	  ---
	  blogi:
	  <li><a href="/blog/chaniny">chaniny</a></li>
	  <li><a href="/blog/tofikowy">tofikowy</a></li>
	</ul>
      </div>
      {% block detailed_data %}
      {% endblock %}
    </div>


    <div id="buffer_B">
      <div id="buffer_B_header">
	{% block buffer_B_header %}
	{% endblock %}
      </div>

      <div id="buffer_B_main_window">
      {% block buffer_B_main_window %}
      {% endblock %}
      </div>
     </div>


    <div id="buffer_C">
      <p>
	Wszyscy autorzy
	{% for author in authors %}
           <li style = "list-style:none; margin-left:10px;"> {{ author.author }} </li> 
	{% empty %}
           no authors
	{% endfor %}
      </p>

      <p>
	Autorzy tego bloga
	{% for author in blog_authors %}
           <li style = "list-style:none"> {{ author.author }} </li> 
	{% empty %}
           no authors
	{% endfor %}
      </p>

      <p>
	dzisiaj dodano:
	{% for date in created_today %}
           <li style = "list-style:none;font-size:10px;"> {{ date.created }} </li>
	{% empty %}
      	   no posts
	{% endfor %}
      </p>

      <p>
	dodano w tym miesiącu:
	{% for date in created_this_month %}
           <li style = "list-style:none;font-size:10px;"> {{ date.created }} </li>
	{% empty %}
      	   no posts
	{% endfor %}
      </p>
    </div>

    <div id="logo_vertical">
      logo bloga
    </div>
    
  </body>

</html>
